/* Importiere die Schriftart 'Lato' */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Grundlegendes Layout und Stile */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif; /* Anwenden der Schriftart 'Lato' */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
